Projekat-Proba/.vs/Projekat-Proba/FileContentIndex/7ba16215-35aa-4101-bb69-862c3b2530d7.vsidx
Projekat-Proba/.vs/Projekat-Proba/FileContentIndex/af17dc22-ec41-4774-b63e-bc5a7b6342a3.vsidx
Projekat-Proba/.vs/Projekat-Proba/FileContentIndex/ff9cdc3f-b566-4fad-975c-8bc73cc89db3.vsidx
Projekat-Proba/Projekat-Proba/obj/Debug/Projekat-Proba.csproj.AssemblyReference.cache
Projekat-Proba/Projekat-Proba/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
